# Ignore some static files and directories.
/.settings/
/.buildpath
/.project
/.htaccess
/CJzip.php
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/favicon.ico
/index.php
/LICENSE.txt
/mainfile.php
/robots.php
/robots.txt
/web.config
/admin/
/data/
/includes/
/install/
/language/
/uploads/
/assets/
/README.md

# Ignore fix module files and directories.
/modules/*
!/modules/nvtools
!/modules/nvtools/*
/themes/*
!/themes/admin_default/css/nvtools.css
!/themes/admin_default/images/nvtools
!/themes/admin_default/images/nvtools/*
!/themes/admin_default/modules/nvtools
!/themes/admin_default/modules/nvtools/*
!/themes/default/css/nvtools.css
!/themes/default/images/nvtools
!/themes/default/images/nvtools/*
!/themes/default/modules/nvtools
!/themes/default/modules/nvtools/*
/vendor/
/composer.json
/.gitattributes
